# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3

# Django
*.log
staticfiles/
media/
db.sqlite3
env/
node_modules/
tailwiind.config.js
static/css.output.css

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
