<p>Hello {{ user.get_username }},</p>
<p>You requested a password reset for your account on {{ SITE_NAME }}.</p>

<p>
    Click the link below to reset your password:<br>
    <a href="{{ protocol }}://{{ DOMAIN }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        Reset your password
    </a>
</p>

<p>If you did not request this, please ignore this email.</p>
<p>Thank you,<br>The {{ SITE_NAME }} Team</p>
<p><small>This link will expire in {{ expiration_time }} minutes.</small></p>